

body
{
    color:#b55400;
}
div#board
{
    background-color: #222831;
    margin: 30px;
    display: flex;
    height: 100vh;
    flex-flow: column;
}

h1{
    text-align: center;
    color: #b55400;
}

div.game{
    margin:30px;
    background-color: #eaeaea;
    padding:20px;
}

div.gameInfo{
    background-color: #eaeaea;
    margin: 20px;
    padding: 20px;
    width: 90.5vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    
}


